 /* Body  */

.App {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #282c34; 
}

 /* Koronaillustrasjon og spinner */

.Korona {
  margin-left: 30%;
  margin-right: 30%;
  pointer-events: none;
  align-content: center;
  max-width: 40%;
  max-height: 35%;
  margin-top: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .Korona {
    animation: Korona-spin infinite 20s linear;
  }
}

@keyframes Korona-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .Korona {
    max-width: 80%;
    max-height: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
}


 /* Fonter/tekstavsnitt  */

 h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: normal;
  font-style: italic;
}

h3 {
  font-size: 2em;
  font-style: bold;
  margin-top: 10%;
}

h4 {
  font-weight: bold;
  font-size: 1.5em;
}

hr.Style, hr.Style2 {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.Style2 {
 margin-right: 25%;
 margin-left: 25%;
 width: 50%; 
}

.Brodtekst {
  font-size: 0.6em;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  width: 50%; 
}

.Byline {
  font-size: 0.4em;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  width: 50%; 
  font-style: italic;
}

.Container {
  position: relative;
}

.Text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  opacity: 100%;
  color: #282c34;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25%;
  margin-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  max-width: fit-content;
  max-height: fit-content;
  font-size: 0.5em;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  h1 {
    font-size: 2.4em;
  }
}


@media screen and (max-width: 600px) {
  h1, h2, .Chart, .Brodtekst, .Byline, hr.Style2 {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .Bildetekst {
    font-size: 0.8em; ;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .Bildetekst {
    font-size: 0.6em;
  }
}


@media screen and (max-width: 800px) and (min-width: 600px) {
  .Text-block {
    font-size: 0.3em;
    max-width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .Text-block {
    font-size: 0.4em; ;
  }
}

 /* Illustrasjoner og grafer */

.Chart {
  font-size: 1em;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}


.Nav {
max-width: 100%;
max-height: 100%;
}

.Bildetekst {
  font-size: 0.4em;
  font-weight: 200;
  font-style: italic;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .Chart {
    font-size: 0.6em;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .Chart {
    font-size: 0.6em;
  }
}

 /* Footer */

footer {
  font-size: small;
  text-align: center;
  width: 100%;
}
